out
dist
node_modules
.vscode-test/
*.vsix
.yalc

# We use a local-install version of yalc instead, for now.
yalc.lock

# Yarn
# see https://github.com/yarnpkg/berry/issues/454#issuecomment-1411548086
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# secret
.secret
